
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  45% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 0;
  }
  55% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
} 
body {
    background: linear-gradient(to top right, black, white);
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow-y: hidden;
    animation: wave 10s linear infinite;
    
}


a {
  text-decoration: none;
  
}

#container a {
  color: black;
}


 
h1 {
    
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 35pt;
    padding-left: 10px;
    margin-top: 40px;
}

.topline {
    height: 10px;
    
    background: white;
}

.menubar {
    background: gray;
    height:70px;
    width: 100%;
}

.runningtime {
    float: left;
    background: white;
    width: 15%;
    height: 50px;
    margin: 1%;
    margin-top: 1.3%;
    font-size: 20pt;
    padding-top: 2%;
    text-align: center;
    font-weight: bold;
    border-radius: 100px 100px 100px 100px;
  
    
    
    align-items: center;

}

#movie div {
    background: white;
    width: 17%;
    height: 15vh;
    float: left;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    
    
}
@keyframes posterAnimation {
    0% {
      background-image: url('path_to_div-1');
    }

    25% {
      background-image: url('path_to_div-2');
    }

    50% {
      background-image: url('path_to_div-3');
    }

    75% {
      background-image: url('path_to_div-4');
    }

    100% {
      background-image: url('path_to_div-1');
    }
  }




















