body {
    background: linear-gradient(to top right, black, gray);
    
    background-repeat: no-repeat;
    background-size: 500% 200%;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 75pt;
    padding-left: 10px;
    margin-top: 40px;
    text-shadow: 1px 1px 10px black;
}

a {
    color: white;
    text-decoration: none;
}
.back img {
    width: 250px;
    height: 150px;
    rotate: 180deg;
    margin-top: -35px;
    margin-left: -30px;
    
}
.topline {
    height: 10px;
    width: 500%;
    background: white;
    margin-top: -100px;
    box-shadow: 1px 1px 10px black;
}

.back {
    width: 350px;
    height: 80px;

    margin-left: 1150px;
    margin-top: 40px;
    
    background: none;
    border-radius: 20px 20px 20px 20px;
}

h2{
    float: right;
    font-size: 35pt;
    margin-top: 7px;
    margin-right: 7px;
}


.poster {
    background: white;
    width: 35.5vw;
    height: 34vh;
    margin: 2%;
    margin-top: 15%;
}

h3 {
    color: white;
    font-size: 35pt;
    background: gray;
    
}
#produce {
    float: right;
    
    margin-top: -65%;
    width: 150vw;
    
    margin-right: -1000px;

}

